#davi{
    margin-top: 2%;
    border-image:fill;
    border-color: black;
    border-style: solid;
    border-radius: 10%;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(https://cdnb.artstation.com/p/assets/images/images/019/170/273/large/ford-nguyen-city-street.jpg?1562315890); 
    background-size: cover;
    justify-content: center;
    align-items: center;
    height: 40%;
}

h1{
    background: black;
    color: aliceblue;
    border-radius: 10px;
    width: 500px;
}
p{
    color: aliceblue;
    text-align: justify;
    background-size: cover;
    justify-content: center;
    align-items: center;
    width: 600px;
    background-color: black;
    font-size: larger;
    border-radius: 10px;
}

h3{
    background-color: black;
    color: aliceblue;
    border-radius: 10px;
    border-style: hidden;
    
    width: 500px;
}
nav{
    background-color: aliceblue;
    margin-left: 30px;
    margin-top: 10px;
    max-width: 50px;
}
hr{
    background-color: black;
    height: 10px;
    width: 700px;
    border: 0cm;
    border-radius: 20px;
}
