body{
    background-color: grey;
    
}
hr{
    background-color: black;
    height: 20px;
    border: 0cm;
}

.pessoas{
    box-shadow: 10px 5px 5px 5px black;
    border-radius: 20px;
    margin-bottom: 100px;
    margin-right: 30px;
}
p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
li{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}